/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Font*/
body {
  font-family: 'Averia Libre', cursive;
}

/*Grid layout*/
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*Sidebar*/
.sidebar {
  background-color: #c8a2c8;
}

.side-content {
  display: flex;
  align-items: center;
  margin-bottom: 0.7vw;
  color: #f2f7f2;
  font-size: 1.5vw
}

.side-content > p:hover {
  cursor: pointer;
}

.sidebar div:nth-child(1) {
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
}
  
.sidebar div:nth-child(7){
  margin-bottom: 2vw;
}

/*Sidebar icons*/
.side-content > img {
  margin-left: 1.5vw;
  margin-right: 0.5vw;
}

#dashboard { 
  margin-left: 1vw;
  margin-right: 0.3vw;
  height: 2.5vw;
  width: 2.5vw;
}

.side-content > img:not(#dashboard) {
  height: 2.25vw;
  width: 2.25vw;
}

/*Header*/
.header {
  background-color: white; 
}

#small-cat, #big-cat {
  height: 2vw;
  width: 2vw;
  padding: 0.5vw;
  border-radius: 50%;
  background-color: #c2b97f;
}

#big-cat { 
  height: 2.5vw;
  width: 2.5vw;
  padding: 0.5vw;
}

#small-cat + p {
  font-size: 1.5vw;
}
#search-bar {
  width: 30.25vw;
  height: 1.75vw;
  border-radius: 20px;
  background-color: #f2f7f2;
  margin-left: 0.5vw;
}

.header-icon {
  height: 1.75vw;
  width: 1.75vw;
}

.header-btn {
  width: 4.75vw;
  height: 2.25vw;
  line-height: 2.25vw;
  border-radius: 20px;
  background-color: #c8a2c8;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1vw;
  font-weight: bold;
}

#text-one {
  font-size: 1.25vw;
}

#text-two {
  font-size: 1.75vw;
}

.first-row, .second-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-row > div, .second-row > div {
  display: flex;
  align-items: center;
}

.first-row, .second-row {
  padding-top: 1vw;
  padding-left: 1.5vw;
  padding-right: 2vw;
}

.second-row {
  padding-bottom: 1vw;
}

#small-cat, #header-text, .header-btn:nth-of-type(2) {
  margin-left: 1vw;
  margin-right: 1vw;
}

.header-icon:hover {
  cursor: pointer;
}

.header-btn:hover {
  cursor: pointer;
}

/*Main content*/ 
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  background-color: #f2f7f2;  
  padding-bottom: 40px;
}

/*Project section*/
.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: calc(1.5vw - 10px);
  grid-auto-rows: 175px;
  gap: 20px;
  padding-left: 30px;
  padding-top: 20px;
}

#project-caption {
  grid-column: 1 / -1;
  font-size: 1.5vw;
}

/*Card*/
.card {
  border-left: 5px #c2b97f solid;
  border-radius: 5px;
  background-color: white;
  padding-left: 20px;
  position: relative;
}

.card-title {
  margin-top: 20px;
  font-size: 20px;
}

.card-descr {
  font-size: 14px;
  color: grey;
  max-width: 90%;
}

.card > img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 20px;
}

.card > img:nth-of-type(1) {
  right: 80px;
}

.card > img:nth-of-type(2) {
  right: 50px;  
}

.card > img:nth-of-type(3) {
  right: 20px;
}

.card > img:hover {
  cursor: pointer;
}

/*Announcement section*/
.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 30px;
}

.ann-text {
  font-size: 1.5vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ann-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: auto;
  padding: 1.5vw;
}

.ann-card > div:nth-of-type(1) {
  padding-bottom: 10px;
}

.ann-card > div:nth-of-type(2) {
  border-top: 0.5px lightgrey solid;
  border-bottom: 0.5px lightgrey solid;
  padding-top: 0.75vw;
  padding-bottom: 0.75vw;
}

.ann-card > div:nth-of-type(3) {
  padding-top: 0.75vw;
}

.ann-title {
  font-size: 1.25vw;
}

.ann-descr {
  font-size: 0.9vw;
  color: gray;
}

/*Trending section*/
.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-left: 30px;
}

.trending-text {
  font-size: 1.5vw;
  margin-top: 20px;
  margin-bottom: 10px;
}

.trending-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: auto;
  padding-top: 1.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.trending-card > div {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
}

.trending-icon {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  background-color: #c2b97f;
  padding: 0.5vw;
}

.trending-icon + p {
  margin-left: 0.75vw;
}

.at {
  font-size: 1.2vw;
}

.project {
  font-size: 1vw;
  color: grey;
}

.trending-card div:nth-child(2) .trending-icon {
  background-color: #9b84a3;
}

.trending-card div:nth-child(3) .trending-icon {
  background-color: #b4c6a0;
}

.trending-card div:nth-child(4) .trending-icon {
  background-color: #e2c78b;
}