/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Font*/
body {
  font-family: 'Averia Libre', cursive;
}

/*Grid layout*/
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*Sidebar*/
.sidebar {
  background-color: #c8a2c8;
}

.side-content {
  display: flex;
  align-items: center;
  margin-bottom: 0.7vw;
  color: #f2f7f2;
  font-size: 1.5vw
}

p:hover {
  cursor: pointer;
}

.sidebar div:nth-child(1) {
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
}
  
.sidebar div:nth-child(7){
  margin-bottom: 2vw;
}

/*Sidebar icons*/
.side-content > img {
  margin-left: 1.5vw;
  margin-right: 0.5vw;
}

#dashboard { 
  margin-left: 1vw;
  margin-right: 0.3vw;
  height: 2.5vw;
  width: 2.5vw;
}

.side-content > img:not(#dashboard) {
  height: 2.25vw;
  width: 2.25vw;
}

/*Header*/
.header {
  background-color: white;
}

.header img:hover {
  cursor: pointer;
}

.second-row div {
  cursor: pointer;
}

.first-row {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search-bar {
  width: 300px;
  height: 20px;
  border-radius: 20px;
  background-color: #f2f7f2;
  margin-right: 90px;
}

.first-row img {
  height: 20px;
  width: 20px;
}

.first-row img:first-child {
  margin-left: 15px;
  margin-right: 10px;
}

.first-row img:nth-child(3), #small-cat {
  margin-right: 10px;
}

#small-cat, #big-cat {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #c2b97f;
  padding: 5px;
}

.second-row {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

#big-cat { 
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 10px;
}

.second-row p {
  margin-right: 100px;
}

p span:nth-child(1) {
  font-size: 12px;
}

p span:nth-child(3) {
  font-size: 20px;
}

.second-row div {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #c8a2c8;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

/*Main content*/ 
.main-content {
  background-color: #f2f7f2;  
}